Flask/application/modelling/data/luomi/output/*
Electron/app/model

dist/
build/

.DS_Store

.idea/
.vscode*
*.suo
*.user
.ntvs*
*.njsproj
*.sln*

__pycache__/
*.py[cod]
.python-version
.venv/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.env.local
*.env.*.local